@page "/Customers"
@using RecoverUnsoldDomain.Entities
@using RecoverUnsoldAdmin.Extensions
@inherits CustomersBase

<PageTitle>@StringLocalizer["Customers"]</PageTitle>
<MudTable @ref="Table" Hover="true" Striped="true"
          Loading="Loading" Style="margin: 2rem;"
          ServerData="@(new Func<TableState, Task<TableData<Customer>>>(ServerData))">
    <ToolBarContent>
        <MudText Typo="Typo.h6">@StringLocalizer["Customers"]</MudText>
        <MudSpacer/>
        <MudTextField @bind-Value="Search" Placeholder="@StringLocalizer["Search"]" Adornment="Adornment.Start"
                      AdornmentIcon="@Icons.Material.Filled.Search" IconSize="Size.Medium"
                      OnAdornmentClick="@(_ => OnSearch())" Class="mt-0"/>
    </ToolBarContent>
    <NoRecordsContent>
        <MudText Typo="Typo.h5" Class="mud-text-secondary mt-16 mb-16">@StringLocalizer["NoCustomerFound"]</MudText>
    </NoRecordsContent>
    <HeaderContent>
        <MudTh>
            <strong>@StringLocalizer["Username"]</strong>
        </MudTh>
        <MudTh>
            <strong>@StringLocalizer["Email"]</strong>
        </MudTh>
        <MudTh>
            <strong>@StringLocalizer["FullName"]</strong>
        </MudTh>
        <MudTh>
            <strong>@StringLocalizer["RegistrationDate"]</strong>
        </MudTh>
        <MudTh>
            <strong>@StringLocalizer["AccountVerificationDate"]</strong>
        </MudTh>
    </HeaderContent>
    <RowTemplate>
        <MudTd DataLabel="Username" Class="font-weight-bold">@context.Username</MudTd>
        <MudTd DataLabel="Email">
            <a href="@($"mailto:{context.Email}")" Color="Color.Default">@context.Email</a>
        </MudTd>
        <MudTd DataLabel="Full name">@context.Fullname()</MudTd>
        <MudTd DataLabel="Creation date">@context.CreatedAt.ToShortDateString()</MudTd>
        <MudTd DataLabel="Account verification date">@(context.EmailVerifiedAt?.ToShortDateString() ?? "-")</MudTd>
    </RowTemplate>
    <PagerContent>
        <MudTablePager RowsPerPageString="@StringLocalizer["RowsPerPage"]" InfoFormat="@StringLocalizer["PageInfo"]"/>
    </PagerContent>
</MudTable>