@page "/Distributors"
@using RecoverUnsoldAdmin.Extensions
@using RecoverUnsoldDomain.Entities
@inherits DistributorsBase

<PageTitle>@StringLocalizer["Distributors"]</PageTitle>
<MudTable @ref="Table" Hover="true" Striped="true"
          Loading="Loading" Style="margin: 2rem;" Dense="true"
          ServerData="@(new Func<TableState, Task<TableData<Distributor>>>(ServerData))">
    <ToolBarContent>
        <MudText Typo="Typo.h6">@StringLocalizer["Distributors"]</MudText>
        <MudSpacer/>
        <MudTextField @bind-Value="Search" Placeholder="@StringLocalizer["Search"]" Adornment="Adornment.Start"
                      AdornmentIcon="@Icons.Material.Filled.Search" IconSize="Size.Medium"
                      OnAdornmentClick="@(_ => OnSearch())" Class="mt-0"/>
    </ToolBarContent>
    <NoRecordsContent>
        <NoDataComponent Message="@StringLocalizer["NoDistributorsFound"]"></NoDataComponent>
    </NoRecordsContent>
    <HeaderContent>
        <MudTh>
            <strong>@StringLocalizer["Username"]</strong>
        </MudTh>
        <MudTh>
            <strong>@StringLocalizer["Email"]</strong>
        </MudTh>
        <MudTh>
            <strong>@StringLocalizer["Phone"]</strong>
        </MudTh>
        <MudTh>
            <strong>@StringLocalizer["TaxId"]</strong>
        </MudTh>
        <MudTh>
            <strong>@StringLocalizer["Rccm"]</strong>
        </MudTh>
        <MudTh>
            <strong>@StringLocalizer["Website"]</strong>
        </MudTh>
        <MudTh>
            <strong>@StringLocalizer["RegistrationDate"]</strong>
        </MudTh>
        <MudTh/>
    </HeaderContent>
    <RowTemplate>
        <MudTd DataLabel="Username" Class="font-weight-bold">@context.Username</MudTd>
        <MudTd DataLabel="Email">
            <a href="@($"mailto:{context.Email}")" Color="Color.Default">@context.Email</a>
        </MudTd>
        <MudTd DataLabel="Phone">
            <a href="@($"tel:{context.Phone}")" Color="Color.Default">@context.Phone</a>
        </MudTd>
        <MudTd DataLabel="Tax Id">@context.TaxId</MudTd>
        <MudTd DataLabel="Rccm">@context.Rccm</MudTd>
        <MudTd DataLabel="Website">
            @if (context.WebsiteUrl == null)
            {
                <span>-</span>
            }
            else
            {
                <a href="@(context.WebsiteUrl.ToUrl())" Color="Color.Default">@context.WebsiteUrl</a>
            }
        </MudTd>
        <MudTd DataLabel="Creation date">@context.CreatedAt.ToShortDateString()</MudTd>
        <MudTd>
            <MudIconButton OnClick="@(() => ToggleDistributor(context.Id))"
                           Icon="@(ExpandedRows.Contains(context.Id) ? Icons.Material.Filled.VisibilityOff : Icons.Material.Filled.Visibility)"/>
        </MudTd>
    </RowTemplate>
    <PagerContent>
        <MudTablePager RowsPerPageString="@StringLocalizer["RowsPerPage"]" InfoFormat="@StringLocalizer["PageInfo"]"/>
    </PagerContent>
    <ChildRowContent>
        @if (ExpandedRows.Contains(context.Id))
        {
            <td colspan="8">
                <MudCard Elevation="0">
                    <MudCardHeader>
                        <CardHeaderContent>
                            <MudText Typo="Typo.body1">@StringLocalizer["DetailsForDistributor", context.Username]</MudText>
                        </CardHeaderContent>
                    </MudCardHeader>
                    <MudCardContent Class="pa-0">
                        @if (@context.EmailVerifiedAt != null)
                        {
                            <MudText Typo="Typo.body1" Class="ml-5">
                                @StringLocalizer["AccountVerifiedThe", context.EmailVerifiedAt?.ToShortDateString()!]
                            </MudText>
                        }
                        else
                        {
                            <MudText Typo="Typo.body1" Class="ml-5">
                                @StringLocalizer["AccountNotVerified"]
                            </MudText>
                        }

                        @if (context.Locations.Count > 0)
                        {
                            <div style="display: flex; justify-content: center">
                                <MudText Typo="Typo.h6">Locations</MudText>
                            </div>
                            <MudTable Items="@context.Locations" Context="LocationContext" Hover="true"
                                      Breakpoint="Breakpoint.Sm" Elevation="0">
                                <ColGroup>
                                    <col/><col/><col style="width:200px;"/>
                                </ColGroup>
                                <HeaderContent>
                                    <MudTh>@StringLocalizer["Name"]</MudTh>
                                    <MudTh>@StringLocalizer["Indication"]</MudTh>
                                    <MudTh>@StringLocalizer["Image"]</MudTh>
                                </HeaderContent>
                                <RowTemplate>
                                    <MudTd DataLabel="Location Name">@LocationContext.Name</MudTd>
                                    <MudTd DataLabel="Location Indication">@(LocationContext.Indication ?? "-")</MudTd>
                                    <MudTd DataLabel="Location Image">
                                        @if (LocationContext.Image != null)
                                        {
                                            <MudImage Src="@LocationContext.Image" Width="200" Height="100"
                                                      Elevation="25" Class="rounded-lg"/>
                                        }
                                        else
                                        {
                                            <span>-</span>
                                        }
                                    </MudTd>
                                </RowTemplate>
                            </MudTable>
                        }
                    </MudCardContent>
                </MudCard>
            </td>
        }
    </ChildRowContent>
</MudTable>