@page "/Offers"
@using System.Globalization
@using RecoverUnsoldAdmin.Utils
@using RecoverUnsoldDomain.Entities
@inherits OffersBase

<PageTitle>Offers</PageTitle>

<MudTable @ref="Table" Hover="true" Striped="true"
          Loading="Loading" Style="margin: 2rem;" Dense="true"
          ServerData="@(new Func<TableState, Task<TableData<Offer>>>(ServerData))">
    <ToolBarContent>
        <MudText Typo="Typo.h6" Class="mr-2">Offers</MudText>
        <MudToggleIconButton @bind-Toggled="ShowFilter" Icon="@Icons.Filled.FilterAltOff" Title="Show filters"
                             ToggledIcon="@Icons.Filled.FilterAlt" ToggledTitle="Hide filters" Class="mr-2"/>
        <MudSpacer/>
        @if (ShowFilter) {
            <div style="display: flex; align-items: baseline;">
                <MudDatePicker Label="Min date" @bind-Date="Filter.MinDate" MaxDate="Filter.MaxDate"
                               Class="ml-4 mr-2" Clearable="true"/>
                <MudDatePicker Label="Max date" @bind-Date="Filter.MaxDate" MinDate="Filter.MinDate"
                               Class="mx-2 my-0" Clearable="true"/>
                <MudSelect T="string" Label="Status" AnchorOrigin="Origin.BottomCenter" ValueChanged="ToggleActiveLabel">
                    <MudSelectItem Value="@(ActiveLabels.NA)"/>
                    <MudSelectItem Value="@(ActiveLabels.Active)"/>
                    <MudSelectItem Value="@(ActiveLabels.Expired)"/>
                </MudSelect>
                <MudNumericField @bind-Value="Filter.MinPrice" Label="Min price" Min="0"
                                 Max="Filter.MaxPrice ?? 1000000" Class="mx-2" Clearable="true"/>
                <MudNumericField @bind-Value="Filter.MaxPrice" Label="Max price" Min="Filter.MinPrice ?? 0"
                                 Max="1000000" Class="mx-2" Clearable="true"/>
                <MudIconButton Icon="@Icons.Filled.Search" OnClick="@(_ => OnSearch())" Color="Color.Primary"/>
                <MudIconButton Icon="@Icons.Filled.Clear" OnClick="@(_ => ResetFilters())" Color="Color.Warning"/>
            </div>
        }
    </ToolBarContent>
    <NoRecordsContent>
        <MudText Typo="Typo.h5" Class="mud-text-secondary mt-16 mb-16">
            No offer found
        </MudText>
    </NoRecordsContent>
    <HeaderContent>
        <MudTh>
            <strong>Start date</strong>
        </MudTh>
        <MudTh>
            <strong>End date</strong>
        </MudTh>
        <MudTh>
            <strong>Beneficiaries</strong>
        </MudTh>
        <MudTh>
            <strong>Price</strong>
        </MudTh>
        <MudTh>
            <strong>Distributor</strong>
        </MudTh>
        <MudTh>
            <strong>Creation date</strong>
        </MudTh>
        <MudTh/>
    </HeaderContent>
    <RowTemplate>
        <MudTd DataLabel="Start date">@context.StartDate.ToString(CultureInfo.CurrentCulture)</MudTd>
        <MudTd DataLabel="End date">@context.StartDate.AddSeconds(context.Duration).ToString(CultureInfo.CurrentCulture)</MudTd>
        <MudTd DataLabel="Beneficiaries">@(context.Beneficiaries?.ToString() ?? "-")</MudTd>
        <MudTd DataLabel="Price">@context.Price</MudTd>
        <MudTd DataLabel="Distributor">@(context.Distributor?.Username ?? "-")</MudTd>
        <MudTd DataLabel="Creation date">@context.CreatedAt.ToShortDateString()</MudTd>
        <MudTd>
            <MudIconButton Href="@("Offers/" + context.Id)" Icon="@(Icons.Material.Filled.Visibility)"/>
        </MudTd>
    </RowTemplate>
    <PagerContent>
        <MudTablePager/>
    </PagerContent>
</MudTable>