@page "/Offers"
@using RecoverUnsoldDomain.Entities
@using RecoverUnsoldAdmin.Utils
@using System.Globalization
@inherits OffersBase

<PageTitle>@StringLocalizer["Offers"]</PageTitle>

<MudTable @ref="Table" Hover="true" Striped="true"
          Loading="Loading" Style="margin: 2rem;" Dense="true"
          ServerData="@(new Func<TableState, Task<TableData<Offer>>>(ServerData))">
    <ToolBarContent>
        <MudText Typo="Typo.h6" Class="mr-2">@StringLocalizer["Offers"]</MudText>
        <MudToggleIconButton @bind-Toggled="ShowFilter" Icon="@Icons.Material.Filled.FilterAltOff" Title="Show filters"
                             ToggledIcon="@Icons.Material.Filled.FilterAlt" ToggledTitle="Hide filters" Class="ml-4"/>
        <MudPopover Open="@ShowFilter" AnchorOrigin="Origin.BottomLeft">
            <MudPaper Class="px-2">
                <div class="filter-line">
                    <MudDatePicker Label="@StringLocalizer["MinDate"]" @bind-Date="Filter.MinDate" MaxDate="Filter.MaxDate"
                                   Clearable="true"/>
                    <MudSpacer/>
                    <MudDatePicker Label="@StringLocalizer["MaxDate"]" @bind-Date="Filter.MaxDate" MinDate="Filter.MinDate"
                                   Clearable="true" Class="ml-2"/>
                </div>
                <div class="filter-line">
                    <MudNumericField @bind-Value="Filter.MinPrice" Label="@StringLocalizer["MinPrice"]" Min="0"
                                     Max="Filter.MaxPrice ?? 1000000" Clearable="true"/>
                    <MudSpacer/>
                    <MudNumericField @bind-Value="Filter.MaxPrice" Label="@StringLocalizer["MaxPrice"]" Min="Filter.MinPrice ?? 0"
                                     Max="1000000" Clearable="true"/>
                </div>
                <div class="filter-line">
                    <MudSelect T="string" Label="@StringLocalizer["Status"]" AnchorOrigin="Origin.BottomCenter">
                        <MudSelectItem Value="@(ActiveLabels.NA)"/>
                        <MudSelectItem Value="@(ActiveLabels.Active)"/>
                        <MudSelectItem Value="@(ActiveLabels.Expired)"/>
                    </MudSelect>
                </div>
                <div>
                    <MudIconButton Icon="@Icons.Material.Filled.Search" OnClick="@(_ => OnSearch())" Color="Color.Primary"/>
                    <MudIconButton Icon="@Icons.Material.Filled.Clear" OnClick="@(_ => ResetFilters())" Color="Color.Warning"/>
                </div>
            </MudPaper>
        </MudPopover>
    </ToolBarContent>
    <NoRecordsContent>
        <NoDataComponent Message="@StringLocalizer["NoOfferFound"]"></NoDataComponent>
    </NoRecordsContent>
    <HeaderContent>
        <MudTh>
            <strong>@StringLocalizer["StartDate"]</strong>
        </MudTh>
        <MudTh>
            <strong>@StringLocalizer["EndDate"]</strong>
        </MudTh>
        <MudTh>
            <strong>@StringLocalizer["Beneficiaries"]</strong>
        </MudTh>
        <MudTh>
            <strong>@StringLocalizer["Price"]</strong>
        </MudTh>
        <MudTh>
            <strong>@StringLocalizer["Distributor"]</strong>
        </MudTh>
        <MudTh>
            <strong>@StringLocalizer["CreationDate"]</strong>
        </MudTh>
        <MudTh/>
    </HeaderContent>
    <RowTemplate>
        <MudTd DataLabel="Start date">@context.StartDate.ToString(CultureInfo.CurrentCulture)</MudTd>
        <MudTd DataLabel="End date">@context.StartDate.AddSeconds(context.Duration).ToString(CultureInfo.CurrentCulture)</MudTd>
        <MudTd DataLabel="Beneficiaries">@(context.Beneficiaries?.ToString() ?? "-")</MudTd>
        <MudTd DataLabel="Price">@context.Price XOF</MudTd>
        <MudTd DataLabel="Distributor">@(context.Distributor?.Username ?? "-")</MudTd>
        <MudTd DataLabel="Creation date">@context.CreatedAt.ToShortDateString()</MudTd>
        <MudTd>
            <MudIconButton Href="@("Offers/" + context.Id)" Icon="@(Icons.Material.Filled.Visibility)"/>
        </MudTd>
    </RowTemplate>
    <PagerContent>
        <MudTablePager RowsPerPageString="@StringLocalizer["RowsPerPage"]" InfoFormat="@StringLocalizer["PageInfo"]"/>
    </PagerContent>
</MudTable>